@font-face {
  font-family: 'Raleway';
  font-style: regular;
  font-weight: 400;
  src: url('./Raleway-Regular');
  src: url('./Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: regular;
  font-weight: 600;
  src: url('./Raleway-SemiBold');
  src: url('./Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: regular;
  font-weight: 700;
  src: url('./Raleway-Bold');
  src: url('./Raleway-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: regular;
  font-weight: 900;
  src: url('./Raleway-Black');
  src: url('./Raleway-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: regular;
  font-weight: 400;
  src: url('./BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Glacial Indifference';
  font-style: regular;
  font-weight: 400;
  src: url('./GlacialIndifference-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Glacial Indifference';
  font-style: italic;
  font-weight: 400;
  src: url('./GlacialIndifference-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Glacial Indifference';
  font-style: regular;
  font-weight: 700;
  src: url('./GlacialIndifference-Bold.otf') format('opentype');
}
