body,
.page-wrapper {
    background: #262626;
    font-family: 'Raleway';
    font-weight: 400;
}


* {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*-----------------------------------------------------------
    #TYPOGRAPHY
-----------------------------------------------------------*/
p {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 12px;
}
p.small {
	font-size: 18px;
	line-height: 22px;
}
p u {
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 3px solid #E5E5E5;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, div, a {
    color: #FFFFFF;
}
img {
  width: 100%;
}
.text-right { text-align: right; }
.text-center { text-align: center; }
h2.section-title {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: .02em;
  text-transform: uppercase;
  margin: 0 0 .6em;
}
h2.section-title span {
  display: inline-block;
  background-color: #6fd5dc;
  color: #262626;
  font-weight: 600;
  line-height: 60px;
  padding: 0 10px;
}
h2.section-title span.white-bg {
  background-color: #FFFFFF;
}
h3 {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: .02em;
  text-transform: uppercase;
  margin: 0 0 .5em;
}
h3 span {
  display: inline-block;
  background-color: #E5E5E5;
  color: #262626;
  font-weight: 600;
  line-height: 54px;
  padding: 0 10px;
}
h3 span.blue-bg {
	background-color: #6fd5dc;
}
.button {
  text-align: center;
  background-color: #7AE99D;
  color: #262626;
  font-family: 'Bebas Neue';
  /* font-style: italic; */
  font-size: 34px;
  padding: 0 45px;
  line-height: 54px;
  display: inline-block;
  margin: 30px 0 30px;
	border: 0;
	outline: none;
}
.input-field {
	border: 1.25px solid #E5E5E5;
	color: #E5E5E5;
	padding: 10px 7px;
	background: transparent;
	outline: none;
	font-size: 20px;
	line-height: 22px;
}

.input-field :placeholder {
	color: #E5E5E5;
}
.no-margin {
	margin: 0;
}
/*-----------------------------------------------------------
    #Grid System
-----------------------------------------------------------*/
.container {
  display: block;
  position: relative;
  width: 95%;
  max-width: 1296px;
  margin: auto;
}

.container .row {
  display: block;
  overflow: hidden;
  justify-content: center;
}
.container .row.row-center {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.container .row.row-bottom {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.container .row div[class^="col"] {
  display: block;
  float: left;
  padding: 0 15px;
}

.container .row .col1  { width: 8.3333%; }
.container .row .col2  { width: 16.667%; }
.container .row .col3  { width: 25%; }
.container .row .col4  { width: 33.333%; }
.container .row .col5  { width: 41.667%; }
.container .row .col6  { width: 50%; }
.container .row .col7  { width: 58.333%; }
.container .row .col8  { width: 66.667%; }
.container .row .col9  { width: 75%; }
.container .row .col10 { width: 83.333%; }
.container .row .col11 { width: 91.667%; }
.container .row .col12 { width: 100%; }

.container .row .col-offset1  { margin-left: 8.3333%; }
.container .row .col-offset2  { margin-left: 16.667%; }
.container .row .col-offset3  { margin-left: 25%; }
.container .row .col-offset4  { margin-left: 33.333%; }
.container .row .col-offset5  { margin-left: 41.667%; }
.container .row .col-offset6  { margin-left: 50%; }
.container .row .col-offset7  { margin-left: 58.333%; }
.container .row .col-offset8  { margin-left: 66.667%; }
.container .row .col-offset9  { margin-left: 75%; }
.container .row .col-offset10 { margin-left: 83.333%; }
.container .row .col-offset11 { margin-left: 91.667%; }
.container .row .col-offset12 { margin-left: 100%; }

.pd30 {
  padding: 30px;
}

/*-----------------------------------------------------------
    #Locks
-----------------------------------------------------------*/
.stage-unlocks {
    display: block;
    position: relative;
    overflow: auto;
    text-align: center;
}

.unlock-single-item {
    width: 190px;
    display: inline-block;
    padding: 10px;
    margin: 0 40px 20px;
		border-top: 1px solid #E5E5E5;
		border-bottom: 1px solid #E5E5E5;
}

.ul-name {
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    display: block;
    z-index: 1;
    padding: 0 10px;
    color: #262626;
}
.unlock-single-item.locked {
    opacity: .5;
}
.unlock-single-item.unlocked {
    opacity: 1;
}
.unlock-single-item.unlocked::after {
    content: none;
}
.unlock-single-item.locked::after {
	content: url(../assets/images/lock.png);
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	justify-content: center;
	width: 50%;
}
/*-----------------------------------------------------------
    #Inventory My Account
-----------------------------------------------------------*/
.lvl-inventory {
    display: block;
    position: relative;
    overflow: auto;
    text-align: center;
		font-size: 0;
}

.inventory-item-single {
    width: calc(33.33% - 22px);
    display: inline-block;
    padding: 10px;
    margin: 0 10px 20px;
		border-top: 1px solid #E5E5E5;
		border-bottom: 1px solid #E5E5E5;
}

.ii-name {
		display: none;
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    z-index: 1;
    padding: 0 10px;
    color: #262626;
}
/*-----------------------------------------------------------
    #Goals
-----------------------------------------------------------*/
.goal-selector {
	text-align: center;
}
.goal-selector .goal-single {
	width: 150px;
	display: inline-block;
	line-height: 50px;
	font-size: 30px;
	color: #333;
	background: #E5E5E5;
	margin: 0 30px 30px;
}

/*-----------------------------------------------------------
    #Stages
-----------------------------------------------------------*/
.stage-items {
    display: block;
    position: relative;
    overflow: auto;
}
.stage-item-single {
    width: 33%;
    display: inline-block;
    box-sizing: border-box;
}
.stage-no {
    font-size: 18px;
    line-height: 26px;
    background: #E5E5E5;
    color: #262626;
    padding: 0 6px;
    display: inline-block;
    font-weight: 400;
}
.stage-thumbnail {
    padding: 0 10px 0 26px;
}
.stage-thumbnail img {
    box-shadow: 0 5px 9px rgba(16, 16, 16, .5);
}
.stage-progress {
    justify-content: center;
    margin: 20px auto 10px;
    text-align: center;
}
.stage-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.stage-perc {
    font-size: 28px;
    line-height: 28px;
    color: #E5E5E5;
    margin: auto auto 2px;
}
.stage-perc-desc {
    font-size: 16px;
    line-height: 20px;
    color: #E5E5E5;
}
.stage-progress img {
    width: auto !important;
    min-width: 136px;
}
.goals-count {
	text-align: center;
	padding: 10px 6px;
}
.goals-count p {
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}
.goals-count span {
	font-weight: 900;
	background-color: #E5E5E5;
	color: #262626;
	display: inline-block;
	padding: 0 3px;
}
/*-----------------------------------------------------------
    #Edit Profile Form
-----------------------------------------------------------*/
form#EditProfileForm {
	margin-bottom: 16px;
  max-width: 500px;
	overflow: auto;
	display: block;
	position: relative;
	margin: auto;
}
.center-form {
	text-align: center
}
.input-file img {
    width: auto;
}
.input-file input {
	display: none;
}
.input-header {
	font-weight: 700;
}
.input-group {
	margin: auto auto 10px;
	font-size: 0;
}
.input-group label {
    font-size: 18px;
    line-height: 22px;
    display: block;
    text-align: left;
    margin: 5px 0;
}
.input-group input,
.input-group select {
    font-size: 18px;
    width: 100%;
		height: 60px;
    line-height: 60px;
    background: transparent;
    border: 1px solid #E5E5E5;
    padding: 0 20px;
    color: #E5E5E5;
    outline: none;
}
.input-group select,
.input-group input[type="number"]::-webkit-outer-spin-button,
.input-group input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-overflow: '';
  text-indent: 1px;
	margin: 0;
}
.input-group option {
    background: #262626;
}
.input-group select {
	display: inline-block;
}
.input-group select#fi-dob-dd,
.input-group select#fi-dob-mm {
    width: 25%;
		margin-right: 5%;
}
.input-group select#fi-dob-yyyy {
    width: 40%;
    display: inline-block;
}
.input-group input[type="submit"] {
    font-size: 54px;
    font-family: 'Bebas Neue';
    height: 62px;
    line-height: 62px;
    border: none;
    color: #262626;
    cursor: pointer;
}
.submit-edit input[value="EDIT"] {
	background: #FF0000;
}
.submit-save input[value="SAVE"] {
	background: #7CEC9F;
}
/*-----------------------------------------------------------
    #Header
-----------------------------------------------------------*/
#header .header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .header-container > div {
  display: inline-block;

}
#header .header-left,
#header .header-right {
  min-width: 35%;
}
#header .header-left {
  text-align: right;
}

#header div.header-logo {
  padding: 0 30px 10px;
}
#header div.header-logo img {
  height: 50px;
  width: auto;
}
#header ul.navbar-nav {
  margin: auto;
  padding: 0;
  list-style: none;
}
#header ul.navbar-nav li.navbar-item {
  display: inline-block;
  padding: 60px 32px;
  text-align: center;
}
#header ul.navbar-nav li.navbar-item a.navbar-link {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #E5E5E5;
  font-family: 'Glacial Indifference';
  font-weight: 400;
}
#header ul.navbar-nav li.navbar-item a.navbar-link::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #FFF;
  transition: all .5s ease-out;
}
#header ul.navbar-nav li.navbar-item:hover a.navbar-link::after {
  width: 100%;
}



#HomeSlider {
  text-align: center;
  padding: 100px 0 50px;
}
#HomeSlider h1.slider-text {
  text-align: center;
  font-weight: 400;
  font-size: 52px;
  line-height: 58px;
  color: #E5E5E5;
}

#HomeSlider h1.slider-text span {
  background-color: #6fd5dc;
  color: #262626;
  padding: 0 10px;
  font-weight: 700;
  line-height: 1em;
  display: inline-block;
}
#HomeSlider .button.slider-btn {
  font-size: 68px;
  padding: 0 35px;
  line-height: 68px;
  margin: 0;
}

#AchievingGoals,
#Audience {
  padding: 100px 0 100px;
}
#TrainingVideo {
  padding: 50px 0 300px;
}
#VideoPlayer {
    padding: 140px 0 0;
}
#Comments {
    padding: 0 0 100px;
}


p .number-big {
	font-size: 44px;
	line-height: 52px;
	font-weight: 900;
	display: inline-block;
}






footer {
  border-top: 1px solid #E5E5E5;
  padding-top: 30px;
  padding-bottom: 50px;
}
footer ul.footer-socials {
  padding: 0;
  margin: 0 auto 20px;
  list-style: none;
}
footer ul.footer-socials li {
  display: inline-block;
  padding: 0 10px;
}
footer ul.footer-socials li a img {
  height: 28px;
  width: 28px;
}
footer ul.footer-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul.footer-nav .footer-navhead {
  color: #64E0E9;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: 'Raleway';
  margin-bottom: 5px;
}
footer ul.footer-nav li a {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  font-family: 'Raleway';
  color: #E5E5E5;
}
footer .footer-logo {
  height: 50px;
  width: 130px;
}



.conference-price {
  font-size: 58px;
  font-weight: 600;
  color: #7AE99D;
}



/*--------------------------------------------------
    #CAROUSEL
--------------------------------------------------*/
.owl-stage-outer {
  width: 70%;
  margin: auto;
}
.carousel-item-single {
  display: flex;
  margin: auto;
}
.carousel-count {
  font-size: 42px;
  line-height: 50px;
  margin-right: 80px;
  overflow: visible;
  display: flex;
  align-items: center;
}
.carousel-count::after {
  content: '';
  background-image: url(../assets/images/bracket.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  left: 100%;
  top: 50%;
  height: 100%;
  width: 80px;
  transform: translateY(-50%);
}
.carousel-head {
  font-size: 30px;
  line-height: 36px;
  padding: 0 3px;
  background: #FFF;
  color: #262626;
  display: inline-block;
  margin: 0;
}
.carousel-text {
  font-size: 16px;
  line-height: 20px;
  margin: 8px 0px;
}

.carousel .owl-prev,
.carousel .owl-next {
  position: absolute;
  top: 0;
  outline: none;
  height: calc(100% - 44px);
  width: 18px;
  margin: 0 !important;
  pointer-events: all;
}
.carousel .owl-prev {
  left: 10%;
  background: url('../assets/images/leftArrow.png') center / contain no-repeat !important;
}
.carousel .owl-next {
  right: 10%;
  background: url('../assets/images/rightArrow.png') center / contain no-repeat !important;
}
.carousel .owl-prev span,
.carousel .owl-next span {
  visibility: hidden;
}
.carousel.owl-theme .owl-nav {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  pointer-events: none;
  margin-top: 0;
}

.carousel .owl-dots {
  margin: 20px 0;
}

.owl-theme.carousel .owl-dots .owl-dot:hover span,
.owl-theme.carousel .owl-dots .owl-dot.active span {
    background: #6FD5DC;
}


/*--------------------------------------------------
#Video Player
--------------------------------------------------*/
.video-player-outer-wrapper {
	margin: 0 auto 50px;
	display: block;
  overflow: auto;
}
.video-player-wrapper {
	margin: 0 auto 16px;
	display: block;
  overflow: auto;
}
.video-list-item {
  padding: 13px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.video-list-item.current {
  box-shadow: 0 -2px 8px rgba(16, 16, 16, .32);
}
.video-player {
  width: 75%;
  float: left;
}
.video-list {
  width: 25%;
  float: left;
}

.video-list-item.watched .video-list-status span { background: #7FE69D; }
.video-list-item.current .video-list-status span { background: #FE0003; }
.video-list-item.unwatched .video-list-status span { background: #E5E5E5; }
.video-list-status span {
  height: 14px;
  width: 14px;
  border-radius: 14px;
  display: block;
}

.video-list-status {
  width: 14px;
  margin-right: 10px;
}
.video-list-stage {
  font-size: 10px;
  line-height: 12px;
}

span.video-list-stage-no {
  display: inline-block;
  margin-right: 10px;
}

.video-list-info {
  text-transform: uppercase;
}

.video-list-item:not(.current) .video-list-info {
  opacity: .5;
}

.video-list-level,
.video-list-title {
  font-size: 14px;
  line-height: 16px;
}
.video-list-level {
  font-weight: 900;
  margin: 5px 0;
}
.video-list-item.current .video-list-level,
.video-list-item.current .video-list-title {
	color: #6FD5DC;
}
.video-progress-bar {
	width: 100%;
  height: 7px;
  background: #1A1A1A;
	margin-bottom: 8px;
}
.video-progress-bar span {
  width: 16%;
  height: 7px;
	display: block;
	background: #E5E5E5;
}
.video-progress-text {
    font-size: 18px;
    line-height: 22px;
    color: #E5E5E5;
}
/*--------------------------------------------------
    #COMMENT FORM INPUT
--------------------------------------------------*/

form#CommentForm textarea#comment-input {
  width: 100%;
  resize: none;
  background: transparent;
  border: 1px solid #E5E5E5;
	outline: none;
  padding: 10px 13px;
  font-size: 30px;
  line-height: 36px;
	margin: 0 0 30px;
}



/*--------------------------------------------------
    #COMMENTS
--------------------------------------------------*/
.comment-avatar {
  width: 56px;
  height: 56px;
  display: inline-block;
  margin-right: 10px;
}

.comment-meta-desc {
  display: inline-block;
  overflow: auto;
}

.comment-username {
  font-size: 24px;
  line-height: 30px;
}

.comment-time {
  font-size: 16px;
  line-height: 20px;
}

.comment-content p {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

.comment-meta-info {
  margin-bottom: 10px;
}

.comment-single {
  margin-bottom: 15px;
}

.read-more-btn {
  margin: 15px 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  text-decoration: underline;
  display: inline-block;
}
